<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIDEOS</title>
    <link rel="stylesheet" href="/static/css/video.css" />
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/da8beb7649.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!------NAVBAR------->

    <nav>
      <div class="logo">
        <img src="/static/images/covidlogo.png" alt="" class="logoimg" />
        <h4>Covid Portal</h4>
      </div>
      <input type="checkbox" name="" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/vaccination" class="active">Vaccination</a></li>
        <li><a href="/tracker">Track Covid-19</a></li>
        <li><a href="/medicine">Medicine</a></li>
      </ul>
    </nav>

    <!------VIDEO CONTENT------->

    <div class="container">
      <div class="heading">
        <h3>VIDEO GALLERY</h3>
        <img class="videologo-img1" src="/static/images/videologo.png" />
      </div>
      <div class="row">
        <div class="card card-1">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=uWGTciX795o&list=PL3WPVIFUi8gBZB2M6omc63-3jBZIcFPPi&index=1', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video1.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              How vaccine work againsts COVID-19 Science,Simplified
            </p>
          </div>
        </div>
        <div class="card card-2">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=XmA0-_e2gpQ&list=PL3WPVIFUi8gBZB2M6omc63-3jBZIcFPPi&index=2', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video2.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              #CoWIN Registration with Agrogya Setu App.
            </p>
          </div>
        </div>
        <div class="card card-3">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=DCdxsnRF1Fk&list=PL3WPVIFUi8gBDi-2OK3Muybl32ZrUrFAI&index=1', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video3.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              Understanding COVID-19 and How to Stay Safe in this pandemic.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card card-4">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=-Fdo_HT3X80&list=PL3WPVIFUi8gBDi-2OK3Muybl32ZrUrFAI&index=2', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video4.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              COVID-19 Everyday Precautions and few protective tips.
            </p>
          </div>
        </div>
        <div class="card card-5">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=xVu_I6WCsto&list=PL3WPVIFUi8gBDi-2OK3Muybl32ZrUrFAI&index=3', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video5.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              10 protective tips for Staying Safe in the Era of Covid-19.
            </p>
          </div>
        </div>
        <div class="card card-6">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=eg1ixwE6XBw', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video6.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              Watch "SAFE STEPS OF THE PANDEMIC COVID-19."
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card card-7">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=krneH_d9nd8&t', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video7.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)
            </p>
          </div>
        </div>
        <div class="card card-8">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=jL3Fh8yJQKo', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video8.png"
                width="100%"
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              FAQs surrounding COVID 19 vaccine introduction. (Episode 2/3)
            </p>
          </div>
        </div>
        <div class="card card-9">
          <div class="card-header">
            <a
              href="javascript:;"
              onclick="window.open('https://www.youtube.com/watch?v=Sc_Pjo7pnto', 'YT',  'width=600,height=400');"
              data-ga-trigger="ga-event-tracking"
              data-ga-event-category="Video Gallery"
              data-ga-event-action="Click"
              data-ga-event-label="FAQs surrounding COVID 19 vaccine introduction. (Episode 1/3)"
              ><img
                class="video-img"
                src="/static/images/video9.png"
                width="100%"
                ;
                class="lazy"
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text video-text">
              FAQs surrounding COVID 19 vaccine introduction. (Episode 3/3)
            </p>
          </div>
        </div>
      </div>
    </div>

    <!------FOOTER------->

    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>About Us</h4>
            <p>
              Covid Portal is a website that serves the purpose of informing the
              users about the latest details of covid-19, chatbot service
              developed for your questions on the virus, live covid trackers,
              vaccination details, and many more.
            </p>
            <p>
              Our main purpose is to help people know about the latest news and
              guidelines about the virus and providing verified information,
              guidelines and resources so that people can stay safe.
            </p>
          </div>
          <div class="footer-col">
            <h4>Navigate</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/vaccinatiom">Vaccination</a></li>
              <li><a href="/tracker">Track Covid-19</a></li>
              <li><a href="/medicine">Medicine</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact</h4>
            <ul>
              <li>
                <a
                  target="_top"
                  href="mailto:covidportal2021@gmail.com?subject=Regarding Covid Portal"
                  ><i class="far fa-envelope"></i> covidportal2021@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
